---
import type {  TRepositorio } from '../provider/repositoryData'
export interface Props {
  Repo:TRepositorio ;
  
}

const { Repo } = Astro.props;
---
<a href={`/repoDetails/${Repo.id}`} class="group relative w-[430px] m-6 bg-slate-800 rounded-lg block h-64 sm:h-80 lg:h-96">
    
  
    <div
      class="relative flex h-full transform items-end bg-blue-200 border-2 rounded-lg border-black bg-white transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
    >
   
      <div
        class="p-4 relative !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8"
      >
      <div class="overflow-hidden sm:w-[360px] sm:h-[240px] w-[320px] h-[180px] absolute bottom-12 sm:bottom-32">

        <img class="h-full w-full" src={Repo.img[0]} alt={Repo.title}>
    </div>
  
  
        <h2 class="mt-4 text-xl font-medium sm:text-2xl">{Repo.title}</h2>
        <div class="flex flex-row gap-6">
          {
            Repo.dectail.map(info => (
              <p class="bg-slate-200 rounded-xl text-sm text-slate-800 py-1 px-2 shadow-md">{info}</p>
            ))
          }</div>
      </div>
  
      <div
        class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8"
      >
        <h3 class="mt-4 text-xl font-medium sm:text-2xl">{Repo.title}</h3>
  
        <p class="mt-4 text-sm sm:text-base">
            {Repo.about}
        </p>
        <div>

          <p class="mt-8 font-bold ">Read more</p>
         
        </div>
      </div>
    </div>
  </a>